body {
    background-color: #f1f1f1;
    max-width: 1000px;
    margin: auto;
}

.paragraf {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #686b70;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #686b70;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

a {
    color: #686b70;
}

.avatar {
    width: 300px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
    border-radius: 10px;
    margin: 10px;
}

.info p {
    color: #86898f;
    font-style: italic;
    margin: 0;
    font-weight: bold;
}

.info {
    display: flex;
    width: 100%;   
}

.info_text {
    margin-left: 40px;
}

.img {
    width: 300px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.cakes {
    display: flex;
    width: 100%;   
}
}

label {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    color: #686b70;
    padding-left: 15px;

}


.input_form {
    display: flex;
    width: 100%;   
}
}

.input {
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: #000;
    outline: none;
    display: flex;
    width: 50%;
}

.btn {
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background: #f1c4c4;    
    height: 20px;
    width: 100px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 25);
    margin: 5px;
    margin-left: 15px;
}

.btn:hover {
    opacity: 0.7;
}

.bg_yellow {
    background: #fff9dc;
    border-radius: 10px;
}

.bg_green {
    background: #e5ffe7;
    border-radius: 10px;
    margin-top: 50px;
}

.bg_red {
    background: #ffe5e5;
    border-radius: 10px;
}

.footer {
    color: #686b70;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;   
}

}

.h2h {
    padding-left: 0px;
}

@media(max-width:1000px){
    .info{
        text-align: center;
        display: block;
    }

    .cakes{
        text-align: center;
        display: block;
    }

    .bg_yellow{
        text-align: center;
        display: block;
    }

    .bg_red{
        text-align: center;
        display: block;
    }

    .input{
        text-align: center;
        /* display: block; */
        
    }

    .footer{
        text-align: center;
        display: block;
    }

    .input_form{
        display: block;        
    }
}
